<nav class="navbar navbar-expand-lg navbar-light bg-light"
    style="background-color: #ffffff !important;box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);padding: 0;position: sticky; top: 0;z-index: 1;">
    <div class="container-fluid">
        <div class="navbar-brand" href="#" style="font-family: emoji;
            font-size: 40px;color: #ac0c00;font-weight: 900;line-height: normal;">
            <a style="padding: 0px 30px;">Osh <i style="font-size: 10px;position: relative;top: -14px;left: -13px;">&reg;</i></a>
            <p style="font-size: 7px;margin-bottom: 0;
            text-align: center;position: relative;top: -8px;left: -7px;">MOMENTS</p>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-family:emoji">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">categories</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0 faEdit">
                <li class="nav-item">
                    <i class="fa fa-magnifying-glass"></i>
                    <i class="fa fa-user"></i>
                    <i class="fa fa-heart"></i>
                    <i class="fa fa-clipboard"></i>
                    <i>भारत</i>
                </li>
                <li class="nav-item">
                    <img src="../../assets/img/india.png" height="18px" alt="india">
                </li>
                <li class="nav-item dropdown">
                    <select style="border:none;padding: 0px 0px 0px 15px;background-color: #ffffff;margin-right: 60px;"
                        name="countries" id="countries">
                        <option value="">India</option>
                        <option value="">Russia</option>
                        <option value="">USA</option>
                        <option value="">Japan</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
</nav>