<footer>
    <div class="custom container">
        <div class="row">
            <div class="col-md-3 aboutus">
                <h4>About Us</h4>
                <ul class="navbar-nav" style="font-family:emoji">
                    <li class="nav-item">
                        <a class="nav-link active"  href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FAQ's</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Terms & Conditions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Return Policy & Procedures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 contact" style="padding-left: 50px;">
                <h4>Contact Us</h4>
                <ul class="navbar-nav" style="font-family:emoji">
                    <li class="nav-item">
                        <a class="nav-link active"  href="#">
                            <i class="fa-solid fa-phone"></i>
                             +965 - XXXX XXXX
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                         <i class="fa-solid fa-envelope"></i>
                         support@oshmoments.com
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        <i class="fa-brands fa-whatsapp"></i>
                        WhatApp Us
                        </a>

                    </li>
                    
                </ul>
            </div>
            <div class="col-md-3 newsletter" style="padding-left: 80px;">
                <h4>Newsletter</h4>
                <ul class="navbar-nav" style="font-family:emoji">
                    <li class="nav-item">
                        <button>Sign Up Now</button>
                    </li>
                    <li class="nav-item">
                        <input class="form-control" type="email" placeholder="Your Email">
                    </li>
                </ul>
            </div>
            <div class="col-md-3 follow" style="padding-left: 10%;">
                <h4>Follow Us</h4>
                <ul class="navbar-nav" style="font-family:emoji">
                    <li class="nav-item">
                        <a  href="#">
                            <i class="fa-brands fa-square-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row cards" style="margin-top: 15%">
                <div class="col-md-6">copyright &#169; 2022 OSH Moments All Right Reserved</div>
                <div class="img col-md-6" style="text-align: right">
                    <img src="../../assets/img/knet.png" alt="knet">
                    <img src="../../assets/img/visa.png" alt="visa">
                    <img src="../../assets/img/mstr.png" alt="master">
                </div>
        </div>
    </div>
</footer>