<div class="custom container mt-5 mb-5">
    <h2>hello {{user.first_name}}, Welcome to Osh Moments.</h2>
    <table class="table table-bordered">
        <img src="{{user.image}}" alt="user" style="padding: 20px;">
        <tr>
            <th>Id :</th>
            <td>{{user.id}}</td>
        </tr>
        <tr>
            <th>Name :</th>
            <td>{{user.first_name}} {{user.last_name}}</td>
        </tr>
        <tr>
            <th>First Name :</th>
            <td>{{user.first_name}}</td>
        </tr>
        <tr>
            <th>Last Name :</th>
            <td>{{user.last_name}}</td>
        </tr>
        <tr>
            <th>Email :</th>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <th>Mobile :</th>
            <td>{{user.phone}}</td>
        </tr>
        <tr>
            <th>Creation Date :</th>
            <td>{{user.create_date}}</td>
        </tr>
        <tr>
            <th>Newsletter Subscribed :</th>
            <td>{{user.newsletter_subscribed}}</td>
        </tr>
    </table>
</div>